<div class="modal-header">
    <h4 class="modal-title">Confirmar Exclusão</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    Deseja realmente excluir?
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Fechar</button>
    <button type="button" class="btn btn-danger" (click)="submitItem()" >Excluir</button>
</div>