   <div class="container">
        <div class="wrapper d-flex align-items-center justify-content-center h-100">
            <div class="card login-form">
                <div class="card-body">
                    <h5 class="card-title text-center">Olá seja bem-vindo!</h5>
                    <form [formGroup]="formLogin">
                        <div class="mb-3">
                            <label class="form-label">Nome</label>
                            <input type="text" class="form-control"  formControlName="nome">
                        </div>
                        <button  class="btn btn-primary w-100" [disabled]="!formLogin.valid" (click)="logar()">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>